.contacto {
    display: flex;
        flex-direction: column;


    &__txt {
        text-align: center;
        margin: 1rem;
    }

    &__form {
        margin-left: 25%;
        margin-bottom: 1rem;
    }
}

.formbox {
    display: block;
}

.btn {
    font-family: "Spectral", serif;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 1rem;
    display: block;
    place-self: center;
    width: fit-content;
    padding: .6em .8em;
    background: $primary;
    border-radius: .3em;

    &:hover {
    background: $accent;
    }
}

@media only screen and (min-width: 768px) {
    .contacto {
        display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        &__form {
            margin-top: 5%;
            min-width: 30%;
        }
    }

    .formbox {
        display: block;
        width: 100%;
    }

}
