.hero {
    position: relative;
    background: url("../multimedia/fotos_img/hero.jpg") no-repeat 50% 100%;
    background-size: cover;
    height: 100vh;
    display: grid;
        place-content: center;


    &__txt {
        margin-top: 70%;
        text-align: center;
    }

    &__txt--cursos {
        margin-top: 95%;
    }

    &__title {
        color: $black;
        font-size: 3rem;
        max-width: 13rem;
        margin-bottom: .5em;
    }
}