@import url("https://fonts.googleapis.com/css2?family=Karla&family=Spectral:ital,wght@0,700;1,700&display=swap");

html {
    font-size: 15px;
}

body {
    font-family: "Spectral", serif;
    font-style: italic;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
    line-height: 1.8em;
}

a {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

span {
    color: $accent;
}

span.copy {
    display: block;
    width: fit-content;
    margin: 0 auto;
    z-index: 1;
    position: relative;

    &::before {
        position: absolute;
            bottom: .1em;
            left: -.2em;
        z-index: -1;
        content: "";
            height: .4em;
            width: 80%;
        background: $accent;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }

    h1 {
        font-size: 2.6em;
    }
}


@media only screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }

    h1 {
        font-size: 3em;
    }
}    